<!DOCTYPE html>
<html>

<head>
    {%load static%}
    <link rel="stylesheet" href="{%static 'nav.css'%}">
</head>

<body>
    <div>
        <nav><a href="">Главная</a>
            <a href=""> Товары </a>
            <a href="">Контакты</a>
            <a href=""> О нас </a>
            <a href=""> Помощь </a>
            <a href=""> Профиль </a>
        </nav>
    </div>
    <div>
        <img src="">
        <div>
            <h4> Название товара</h4>
            <p> Описание товара </p>
            <p> Цена товара </p>
            <a href="" class="btn btn-primary">Перейти к товару</a>
        </div>
    </div>
</body>

</html>